body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
button {
  border: none;
  margin: 0 auto;
}
/*----------------------------------загальні налаштування-------------------------------------*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* -----------------------------------header----------------------------------------------------- */
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container-header {
  display: flex;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 24px 0;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.header-nav:last-child {
  margin-right: 0;
}
.navigation {
  display: flex;
  gap: 40px;
  align-items: center;
}

.header-logo .logo-name-one {
  color: #2e2f42;
}
.navigation:hover,
.navigation:focus {
  color: #404bbf;
}
.navigation-list {
  margin-right: 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}
.contacts-list {
  height: 100%;
  align-items: center;
  display: flex;
  gap: 40px;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

/* -----------------------------------------------main info-----------------------------------------------------------*/
.solutions {
  background-color: #2e2f42;
  padding: 188px 0;
}

.header-solutions {
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.button-name {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}
.button-name:hover,
.button-name:focus {
  background-color: #404bbf;
}

.advantages {
  max-width: 100%;
  padding: 120px 0;
}
.advantages-list {
  display: flex;
  gap: 24px;
}
.advantages-list-first {
  width: calc((100% - 3 * 24px) / 4);
}

.main-header {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.main-header-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}
.container-main-header {
  padding: 32px 0;
  border: 1px solid #e7e9fc;
  border-top: none;
  margin-bottom: 8px;
}
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.header-two {
  margin-bottom: 72px;
}
.team-list-title {
  display: flex;
  gap: 24px;
}
.team-list {
  background-color: #ffffff;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.page-header {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.item-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.item-list-first {
  width: calc((100% - 48px) / 3);
}

.container-portfolio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
/*----------------------------------------------footer-------------------------------------------------------------*/
.footer-name {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo .logo-name {
  color: #f4f4fd;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-info {
  max-width: 264px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
