
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

a {
  text-decoration: none;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0%;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}
button {
  border: none;
  margin: 0 auto;
}
/*----------------------------------загальні налаштування-------------------------------------*/
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* -----------------------------------header----------------------------------------------------- */
.page-header{
  padding-top: 24px;
  padding-bottom: 25px;
  border: 1px solid #ececec;
  
}
.container-header {
display: block;
}
.
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo .logo-name-one {
  color: #2e2f42;
}
.navigation:hover,
.navigation:focus {
  color: #404bbf;
}
.navigation-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-list:hover,
.navigation-list:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}
.contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}

.container {
max-width: 1158px
padding-left:  
padding-right:  
margin-left:  
margin-right:  
}

/* -----------------------------------------------main info-----------------------------------------------------------*/
.solutions {
  background-color: #2e2f42;
  max-width: 100%;
  padding: 0 0 120 0 ;
  height: 600;
}
.container-header-solutions {

}
.solutions-header-solutions{

}

.header-solutions {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.container .button-name {
border-radius: 4px;
padding: 16px 32px;
width: 169px;
height: 56px;
box-sizing: border-box;
}
.button-name {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}
.button-name:hover,
.button-name:focus {
  background-color: #404bbf;
}

.visually-hidden {
}

.header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.advantages {
  max-width: 100%;
}
.container-advantages-list{
  display: flex;
width: 1128px;
height: 104px;
}

.container-main-header {
border-radius: 0 0 4px 4px;
padding: 32 16;
width: 264px;
height: 380px;
}
.main-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
.main-header-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

.team {
  background-color: #f4f4fd;
  max-width: 100%;
}
.team-list {
  background-color: #ffffff;
}
.portfolio {
  max-width: 100%;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
/*----------------------------------------------footer-------------------------------------------------------------*/
.footer-name {
  background-color: #2e2f42;
}

.footer-name-container {
}

.footer-logo .logo-name {
  color: #f4f4fd;
}
.footer-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
